.matrixHeader{
    text-align: center;
    background-color: blue;
    color:white;
}
.meetingA{
    background-color: green;
}
.meetingB{
    background-color: pink;
}
.meetingC{
    background-color: lightblue;
}